<div class="row">
	<div class="col-md-12">
		<div class="well">
			<%= fa_icon "exchange 4x" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="well"></div>
	</div>
	<div class="col-md-3">
		<div class="well"></div>
	</div>
	<div class="col-md-3">
		<div class="well"></div>
	</div>
	<div class="col-md-3">
		<div class="well"></div>
	</div>
</div>