<div class="row">
	<div class="col-md-4">
		<div class="well">
			<div class="row">
				<div class="col-md-5">
					<%= fa_icon "globe 5x" %>
				</div>
				<div class="col-md-7">
					<h3>Worldwide</h3>
				</div>
			</div>
			
		</div>
	</div>
	<div class="col-md-4">
		<div class="well">
			<div class="row">
				<div class="col-md-5">
					<%= fa_icon "group 5x" %>
				</div>
				<div class="col-md-7">
					<h3>5 investorer</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well">
			<div class="row">
				<div class="col-md-5">
					<%= fa_icon "home 5x" %>
				</div>
				<div class="col-md-7">
					<h3>Værdi 5.8 mio</h3>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>

<div class="row">
	<div class="col-md-12">
		<div id="container"></div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<div id="container-a"></div>
	</div>
</div>
<script>
	$(function() {
		$.getJSON('http://www.highcharts.com/samples/data/jsonp.php?filename=aapl-c.json&callback=?', function(data) {

			// Create the chart
			$('#container').highcharts('StockChart', {
				

				rangeSelector : {
					selected : 1
				},

				title : {
					text : 'Soundtracktor ApS'
				},
				
				series : [{
					name : 'Soundtracktor kurs',
					data : data,
					marker : {
						enabled : true,
						radius : 3
					},
					shadow : true,
					tooltip : {
						valueDecimals : 2
					}
				}]
			});
		});
	});
</script>


<script>
	$(function () {
	        $('#container-a').highcharts({
	            chart: {
	                type: 'area'
	            },
	            title: {
	                text: 'Ejerandel Soundtracktor ApS'
	            },
	            subtitle: {
	                text: 'Crowdinvestor ApS'
	            },
	            xAxis: {
	                categories: ['2007', '2008', '2009', '2010', '2011', '2012', '2013'],
	                tickmarkPlacement: 'on',
	                title: {
	                    enabled: false
	                }
	            },
	            yAxis: {
	                title: {
	                    text: 'Percent'
	                }
	            },
	            tooltip: {
	                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f} aktier)<br/>',
	                shared: true
	            },
	            plotOptions: {
	                area: {
	                    stacking: 'percent',
	                    lineColor: '#ffffff',
	                    lineWidth: 1,
	                    marker: {
	                        lineWidth: 1,
	                        lineColor: '#ffffff'
	                    }
	                }
	            },
	            series: [{
	                name: 'Nicolai Seerup',
	                data: [100, 100, 80, 80, 78, 73, 64]
	            }, {
	                name: 'Tav Klitgaard',
	                data: [0, 0, 20, 22, 23, 24, 25]
	            }, {
	                name: 'Imoco Invest A/S',
	                data: [0, 0, 0, 54, 54, 54, 54]
	            }, {
	                name: 'Bent Hansen',
	                data: [10, 10, 10, 10, 10, 10, 10]
	            }, {
	                name: 'Oceania Music Invest',
	                data: [0, 12, 8, 7, 2, 2, 2]
	            }]
	        });
	    });
	    
</script>