<header>
  <h4>
    Soundtracktor ApS - Executive Summary
  </h4>
</header>

<p>
  Auch wenn der goldene Herbst nicht so wirklich kommen wollte und das kühle Wetter die unglaublichen Momente für kulinarische Genüsse im Freien begrenzte, so konnten wir doch mit Hilfe neuer Kunden unser Jahres-Umsatzziel von 25.000 € bereits im Oktober erreichen. Den Monat November können wir voraussichtlich sogar mit einem Mehrumsatz von 17 Prozent abschließen. Einige der neuen Kontakte konnten Dank Ihrer Unterstützung geknüpft werden und wir freuen uns über alle weiteren Anregungen.
</p>

<p>
  So haben wir in Stuttgart mit MEGA einen starken Partner und Kunden gewonnen. MEGA ist ein großer Cash & Carry-Markt mit bedeutendem Fokus auf die Belieferung der regionalen Gastronomie, der mehr als 7.000 Fachkunden beliefert. Vor allem die Qualität unseres Produkts war es, die hier den Leiter der Abteilung Wein/Sekt/Spirituosen überzeugte.
</p>

<p>
  Doch nicht nur im Süden und Osten waren wir erfolgreich, auch der Norden Deutschlands trug zu dem guten Ergebnis bei. Die Resort & Spa-Anlage „Weissenhaus Grand Village“ ist ebenso einer unserer neu gewonnenen Kunden. Diese Luxus-Oase nur 100 km nördlich von Hamburg bietet Urlaub und Entspannung auf höchstem Niveau eingerahmt von warmem Sand und wildem Meer. Unser Produkt „unglaublich“ passt hervorragend zur Philosophie der Wellness-Anlage: Spürbare Tradition – Neue Perspektiven – Wahre Schönheit. Sowohl in diesem 75 Hektar großen Anwesen direkt an der Ostsee als auch in der dazugehörigen Dependance, dem Bootshaus Hafencity in Hamburg, wird ab Dezember unser unglaublich an die Gäste ausgeschenkt. Das Bootshaus nimmt die Atmosphäre des Ostsee-Guts „Weissenhaus“ auf und bewirtet die Kunden unter anderem auch auf einem traumhaften Außenbereich mit großartigem Blick aufs Wasser.
</p>