<hr>
<ul class="media-list">
  <header>
    <h4>Seneste investorer</h4>
  </header>
  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_40_40/p/3/000/286/01a/29a9d06.jpg" alt="Nicolai Seerup" width="40">
    </a>
    <div class="media-body">
      <h5 class="media-heading">Nicolai Seerup</h5>
      <small><%= l Time.now - 31.minutes, format: :short %></small><span class="pull-right"><strong>10.000 Dkk</strong></span>
    </div>
  </li>

  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_40_40/p/2/000/072/15f/041bf8a.jpg" alt="Tav Klitgaard" width="40">
    </a>
    <div class="media-body">
      <h5 class="media-heading">Tav Klitgaard</h5>
      <small><%= l Time.now - 131.minutes, format: :short %></small><span class="pull-right"><strong>25.000 Dkk</strong></span>
    </div>
  </li>

  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="https://s3.amazonaws.com/misc_soundtracktor/anonymous2.jpg" alt="Anonym" width="40">
    </a>
    <div class="media-body">
      <h5 class="media-heading">Anonym</h5>
      <small><%= l Time.now - 231.minutes, format: :short %></small><span class="pull-right"><strong>150.000 Dkk</strong></span>
    </div>
  </li>

  <li class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/6/000/1fc/3dc/0d6147b.jpg" alt="Søren Ammundsen" width="40">
    </a>
    <div class="media-body">
      <h5 class="media-heading">Søren Ammundsen</h5>
      <small><%= l Time.now - 431.minutes, format: :short %></small><span class="pull-right"><strong>2.000 Dkk</strong></span>
    </div>
  </li>
</ul>


