<div class="row company-progress-bar">
  <div class="col-md-12">
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 75%">
        <span class="sr-only">75% Complete (success)</span>
      </div>
    </div>
  </div>
</div>
