<hr>
<ul class="list-unstyled">
	<h4>Rewards</h4>
	<li>
		<strong><%= fa_icon "angle-right" %>
		Invest 10.000 Dkk and get:</strong>
		<br>
		<p class="text-muted">
			Ad voucher to advertise in our Global Sharing Economy Directory which lists 8,500 Sharing Economy businesses
		</p>
		<br>
	</li>
	<li>
		<strong><%= fa_icon "angle-right" %>
		Invest 15.000 Dkk and get:</strong>
		<br>
		<p class="text-muted">
			Collaboration workshop for your employees; learn about the benefits of the Sharing Economy. See the benefits to your business of creating a more connected culture.
		</p>
		<br>
	</li>
	<li>
		<strong><%= fa_icon "angle-right" %>
		Invest 20.000 Dkk and get:</strong>
		<br>
		<p class="text-muted">
			Bespoke consultation on how your company could make & save money from your under-used assets.
		</p>
		<br>
	</li>
</ul>


