<div class="row company-usp">
  <div class="col-md-3">
    <div class="well">
      <div class="row">
        <div class="col-md-3">
          <%= fa_icon "globe 3x" %>
        </div>
        <div class="col-md-9">
          <h4>Worldwide</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="well">
      <div class="row">
        <div class="col-md-3">
          <%= fa_icon "group 3x" %>
        </div>
        <div class="col-md-9">
          <h4>5 investorer</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="well">
      <div class="row">
        <div class="col-md-3">
          <%= fa_icon "bar-chart-o 3x" %>
        </div>
        <div class="col-md-9">
          <h4>Valuering 5.8 mio</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="well">
      <div class="row">
        <div class="col-md-3">
          <%= fa_icon "map-marker 3x" %>
        </div>
        <div class="col-md-9">
          <h4>København</h4>
        </div>
      </div>
    </div>
  </div>
</div>
